.spinftw {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    border-radius: 100%;
    height: 30px;
    width: 30px;
    -webkit-animation: loader infinite 2s;
    -moz-animation: loader infinite 2s;
    animation: loader infinite 2s;
    box-shadow: 25px 25px rgb(255, 127, 14),
    -25px 25px rgb(174, 199, 232),
    -25px -25px rgb(31, 119, 180),
    25px -25px rgb(255, 187, 120);
}

@-webkit-keyframes loader {
    0%, 100% {
        box-shadow: 25px 25px rgb(255, 127, 14),
        -25px 25px rgb(174, 199, 232),
        -25px -25px rgb(31, 119, 180),
        25px -25px rgb(255, 187, 120);
    }
    25% {
        box-shadow: -25px 25px rgb(255, 127, 14),
        -25px -25px rgb(174, 199, 232),
        25px -25px rgb(31, 119, 180),
        25px 25px rgb(255, 187, 120);
    }
    50% {
        box-shadow: -25px -25px rgb(255, 127, 14),
        25px -25px rgb(174, 199, 232),
        25px 25px rgb(31, 119, 180),
        -25px 25px rgb(255, 187, 120);
    }
    75% {
        box-shadow: 25px -25px rgb(255, 127, 14),
        25px 25px rgb(174, 199, 232),
        -25px 25px rgb(31, 119, 180),
        -25px -25px rgb(255, 187, 120);
    }
}

@-moz-keyframes loader {
    0%, 100% {
        box-shadow: 25px 25px rgb(255, 127, 14),
        -25px 25px rgb(174, 199, 232),
        -25px -25px rgb(31, 119, 180),
        25px -25px rgb(255, 187, 120);
    }
    25% {
        box-shadow: -25px 25px rgb(255, 127, 14),
        -25px -25px rgb(174, 199, 232),
        25px -25px rgb(31, 119, 180),
        25px 25px rgb(255, 187, 120);
    }
    50% {
        box-shadow: -25px -25px rgb(255, 127, 14),
        25px -25px rgb(174, 199, 232),
        25px 25px rgb(31, 119, 180),
        -25px 25px rgb(255, 187, 120);
    }
    75% {
        box-shadow: 25px -25px rgb(255, 127, 14),
        25px 25px rgb(174, 199, 232),
        -25px 25px rgb(31, 119, 180),
        -25px -25px rgb(255, 187, 120);
    }
}

@keyframes loader {
    0%, 100% {
        box-shadow: 25px 25px rgb(255, 127, 14),
        -25px 25px rgb(174, 199, 232),
        -25px -25px rgb(31, 119, 180),
        25px -25px rgb(255, 187, 120);
    }
    25% {
        box-shadow: -25px 25px rgb(255, 127, 14),
        -25px -25px rgb(174, 199, 232),
        25px -25px rgb(31, 119, 180),
        25px 25px rgb(255, 187, 120);
    }
    50% {
        box-shadow: -25px -25px rgb(255, 127, 14),
        25px -25px rgb(174, 199, 232),
        25px 25px rgb(31, 119, 180),
        -25px 25px rgb(255, 187, 120);
    }
    75% {
        box-shadow: 25px -25px rgb(255, 127, 14),
        25px 25px rgb(174, 199, 232),
        -25px 25px rgb(31, 119, 180),
        -25px -25px rgb(255, 187, 120);
    }
}