.main-canvas {
    width: 96%;
    height: 96%;
    margin: 1% auto;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.menu-left {
    width: 60px;
    margin: auto;
}

.menu-right {
    width: 60px;
    margin: auto;
}