.popup {
    width: 60%;
    z-index: 20;
}

.popup_background {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.panel {
    padding: 10px;
    height: 500px;
}

.tabs {
    margin-bottom: 5px;
}

.left_panel {
    overflow: auto;
    margin-right: 5px;
    height: 435px;
}

.right_panel {
    overflow: auto;
    height: 435px;
}

.right_top_panel {
    height: 210px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    overflow: auto;
}

.right_top_panel h4 {
    text-align: center;
}

.panel_row {
    padding: 5px;
}

.right_bottom_panel {
    height: 215px;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    overflow: auto;
}

.right_bottom_panel h4 {
    text-align: center;
}

table th {
    text-align: center;
}