<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Servlets -->
    <servlet>
        <servlet-name>ChemPredServlet</servlet-name>
        <servlet-class>ru.pavlik.chempred.server.ChemPredServiceImp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElementService</servlet-name>
        <servlet-class>ru.pavlik.chempred.server.services.ElementServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChemPredServlet</servlet-name>
        <url-pattern>/ChemPred/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElementService</servlet-name>
        <url-pattern>/ChemPred/element</url-pattern>
    </servlet-mapping>

    <!-- Default page to serves -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>