.popup {
    width: 80%;
    z-index: 20;
}

.popup_background {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.panel {
    padding: 10px;
}

.list_panel {
    height: 500px;
    max-height: 500px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.list_group {
    overflow-y: auto;
    height: 90% !important;
    width: 100%;
    border: hidden;
}

.info_panel {
    height: 500px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.info_panel th {
    text-align: center;
}

.search {
    margin-bottom: 10px;
}

.add_all {
    margin-right: 5px;
    margin-bottom: 0;
}

.remove {
    float: left;
    margin-right: 10px;
}

.train_method {
    float: left;
    width: 350px;
}

.train {
    float: right;
    margin-left: 10px;
}

.bottom_panel {
    text-align: left;
    margin-left: 5px;
}

::-webkit-scrollbar {
    width: 4px; /* for vertical scrollbars */
    height: 4px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}